

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var cpu_percent = {{cpu_percent}};
        var memory = {{memory}};
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', memory],
          ['CPU', cpu_percent]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);


      }
    </script>


    <div id="chart_div" style="width: 400px; height: 120px;"></div>
