
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'interval');
      data.addColumn('number', 'random number');
      var array_ = {{ djangodict }};

      data.addRows(array_);

      var options = {
        chart: {
          title: 'line chart of random numbers',
          curveType: 'function',
          legend: { position: 'bottom' }

        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, options);
    }
  </script>




  <div id="line_top_x"></div>
