
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
         var array_ = {{ djangodict|safe }};
         console.log(array_)
         var data = google.visualization.arrayToDataTable(array_);




        var options = {
          title: 'counts of Tweets  of handlers @sureshpprabhu,@RailMinIndia',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>


    <div id="curve_chart" style="width: 900px; height: 500px"></div>

