{% extends "show_graphs/basepage.html" %}
{% block body %}

 <iframe src="/show_graphs/one" style="height:600px;width:100%" ></iframe>
 <iframe src="/show_graphs/two" style="height:600px;width:100%"></iframe>
 <iframe src="/show_graphs/three" style="height:600px;width:100%"></iframe>
 <iframe src="/show_graphs/four" style="height:300px;width:100%"></iframe>

    {% endblock %}
